@use "base" as b;

.navbar {
    position: relative;
    z-index: 200;

    &-navigation {
        display: flex;

        &-left {
            width: 50vw;
            height: 100vh;
            background-color: b.$color-dark;
            position: fixed;
            left: -50vw;
            transition: left .8s cubic-bezier(1, 0, 0, 1);

            @media(max-width: 768px) {
                display: none;
            }
            
            .left-img {
                width: 50%;
                position: absolute;
                box-shadow: 0 15px 60px rgba(b.$color-black, 0.4);
                opacity: 0.9;
                border-radius: 10px;

                @media(max-width: 1300px) {
                    width: 55%;
                }
                
                @media(max-width: 1000px) {
                    width: 65%;
                }

                &-1 {
                    top: 15%;
                    left: 15%;

                    @media(max-width: 1000px) {
                        left: 5%;
                    }
                }

                &-2 {
                    top: 35%;
                    left: 25%;

                    @media(max-width: 1000px) {
                        left: 15%;
                    }
                }

                &-3 {
                    top: 55%;
                    left: 35%;

                    @media(max-width: 1000px) {
                        left: 25%;
                    }
                }
            }
        }

        &-right {
            width: 50vw;
            height: 100vh;
            background-color: #1f1d1d;
            position: fixed;
            right: -50vw;
            @include b.flexLayout;
            transition: right .8s cubic-bezier(1, 0, 0, 1);

            @media(max-width: 768px) {
                width: 100vw;
                right: -100vw;
            }
        }

        .nav-list {
            &-item {
                list-style: none;
            }

            &-link {
                font-family: b.$font-dancingScript;
                font-size: 3.1rem;
                @include b.textStyles(capitalize);
                color: b.$color-secondary;
                text-decoration: none;
                display: block;
                margin: 1.25rem;
                text-align: center;
                transition: all .5s;

                &:hover {
                    color: b.$color-primary;
                    letter-spacing: 4px;
                }

                @media(max-width: 600px) {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
    left: 0;
}
.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
    right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
    transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
    transform: rotateZ(-40deg);
}
.checkbox:checked ~ .hamburger-menu .menu-line-2 {
    opacity: 0;
}
.checkbox:checked ~ .hamburger-menu .menu-line-3 {
    transform: rotateZ(40deg);
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(b.$color-black, 0.8), rgba(b.$color-black, 0.6)), url(../images/bg.jpg) center no-repeat;
    background-size: cover;
    .brand {
        display: flex;
        align-items: center;
        @include b.centering(15%);

        @media(max-width: 500px) {
            @include b.centering(12%);
        }
    }
    &-banner {
        text-align: center;
        @include b.centering(50%);
    }
}

.about-us {
    height: 90vh;
    display: flex;
    align-items: center;

    @media(max-width: 900px) {
        height: 70vh;
    }

    &-left {
        width: 40%;
        position: relative;
        left: -7rem;

        @media(max-width: 1300px) {
            left: -5rem;
        }

        @media(max-width: 768px) {
            display: none;
        }

        img {
            width: 100%;
            opacity: .7;
        }
    }
    &-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 6.25rem;

        @media(max-width: 1300px) {
            padding: 0 3rem;
        }

        @media(max-width: 768px) {
            width: 100%;
        }

        .stars {
            margin: 1.9rem 0;
    
            @media(max-width: 1000px) {
                margin: 0.9rem 0;
            }
        }
    
        .star {
            font-size: 0.9rem;
            color: b.$color-primary;
            margin-left: 10px;
    
            @media(max-width: 1000px) {
                font-size: 0.75rem;
            }
        }
    }


    .description {
        font-family: b.$font-josefinSans;
        font-size: 1.6rem;
        font-style: italic;
        color: b.$color-secondary;
        text-align: justify;
        
        &::first-letter {
            padding-left: 3rem;
        }

        @media(max-width: 1600px) {
            font-size: 1.1rem;
        }

        @media(max-width: 1000px) {
            font-size: 0.9rem;
        }

        @media(max-width: 500px) {
            font-size: 0.75rem;
        }
    }
}

.gallery {
    .cards-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
}

.footer {
    padding: 4.4rem 0;
    @include b.flexLayout;
    flex-direction: column;

    @media(max-width: 500px) {
        padding: 2.5rem 0;
    }

    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 4.4rem;
    }

    .social-media {
        display: flex;
        width: 300px;
        justify-content: space-between;
        margin-bottom: 4.4rem;

        @media(max-width: 500px) {
            width: 200px;
            margin-bottom: 2.5rem;
        }

        &-item {
            list-style: none;
        }

        &-link {
            text-decoration: none;
            font-size: 3.1rem;
            color: b.$color-secondary;
            transition: color .7s;

            &:hover {
                color: b.$color-primary;
            }

            @media(max-width: 1000px) {
                font-size: 2.2rem;
            }

            @media(max-width: 500px) {
                font-size: 1.6rem;
            }
        }
    }

    &-copyright-paragraph {
        font-family: b.$font-josefinSans;
        font-size: 1.1rem;
        color: b.$color-secondary;
        @include b.textStyles(capitalize);

        @media(max-width: 768px) {
            width: 70%;
            margin: auto;
            text-align: center;
        }

        @media(max-width: 500px) {
            font-size: 0.9rem;
        }
    }
}